html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  /* background-image: url('https://images.unsplash.com/photo-1512557150470-a02879355d1c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1332&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: overlay; */
}

/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(116, 116, 116); 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
